.nav {
  height: 100px;
  background-color: aqua;
  line-height: 100px;
}

.nav span {
  margin-right: 30px;
  font-size: large;
  float: right;
}

span a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}